<div ng-controller="HeaderController">

  <div class="page-header-top fixed">
    <div class="container-fluid">
      <div class="page-logo">

        <a href="#/dashboard.html" style="text-decoration:none;"><h2 class="font-green-haze bold uppercase">B-Forecaster</h2></a>
      </div>

      <span data-ng-include="'views/tpl/page-head.html'" data-ng-controller="PageHeadController" class="page-head" style="position: fixed; z-index: 9;background: rgb(68, 77, 88) none repeat scroll 0% 0% ! important;">
            </span>




      <a href="javascript:;" class="menu-toggler"></a>
      <div class="top-menu">
        <ul class="nav navbar-nav pull-right">

          <li class="dropdown dropdown-user dropdown-dark">
            <a href="javascript;" class="dropdown-toggle" dropdown-menu-hover data-toggle="dropdown" data-close-others="true">
              <span class="username username-hide-mobile" style="color:#AEEB91">Admin</span>
              <img alt="" class="img-circle" src="assets/images/admin.png">

            </a>
            <ul class="dropdown-menu dropdown-menu-default">
              <li>
                <a href="#" ng-click="logout()">
                  <i class="fa fa-sign-out" style="color:#F3565D"></i> Log Out </a>
              </li>
            </ul>
          </li>
          <!-- END USER LOGIN DROPDOWN -->
        </ul>
      </div>
      <!-- END TOP NAVIGATION MENU -->
    </div>

    <!-- END HEADER TOP -->
    <!-- BEGIN HEADER MENU -->
    <div class="page-header-menu menu-header-fixed">
      <div class="container-fluid">


        <div class="hor-menu">
          <ul class="nav navbar-nav">
            <li>
              <a href="#/dashboard.html">Dashboard </a>
            </li>

            <li class="menu-dropdown classic-menu-dropdown ">
              <a data-hover="megamenu-dropdown" data-close-others="true" data-toggle="dropdown" href="javascript:;">
                                Stores <i class="fa fa-angle-down"></i>
                            </a>
              <ul class="dropdown-menu pull-left">

                <li>
                  <a href="#/store-categories.html">
                                     Store categories
                                  </a>
                </li>

                <li>
                  <a href="#/add-store.html">
                                        Add a new store
                                    </a>
                </li>
                <li>
                  <a href="#/edit-store.html">
                                        Edit a store
                                    </a>
                </li>
                <li>
                  <a href="#/remove-store.html">
                                        Remove a store
                                    </a>
                </li>
                <!-- <li>
                                    <a href="#/view-stores.html">
                                       View all stores
                                    </a>
                                </li> -->
              </ul>
            </li>


            <li class="menu-dropdown classic-menu-dropdown ">
              <a data-hover="megamenu-dropdown" data-close-others="true" data-toggle="dropdown" href="javascript:;">
                                Products <i class="fa fa-angle-down"></i>
                            </a>
              <ul class="dropdown-menu pull-left">
                <li>
                  <a href="#/add-product.html">
                                        Add a new product
                                    </a>
                </li>
                <li>
                  <a href="#/edit-product.html">
                                        Edit a product
                                    </a>
                </li>
                <li>
                  <a href="#/remove-product.html">
                                        Remove a product
                                    </a>
                </li>
                <!-- <li>
                                    <a href="#/view-products.html">
                                       View all products
                                    </a>
                                </li> -->
              </ul>
            </li>


            <li class="menu-dropdown classic-menu-dropdown ">
              <a data-hover="megamenu-dropdown" data-close-others="true" data-toggle="dropdown" href="javascript:;">
                                Predictive Analysis <i class="fa fa-angle-down"></i>
                            </a>
              <ul class="dropdown-menu pull-left">
                <li>
                  <a href="#/run-analysis.html">
                                        Run analysis
                                    </a>
                </li>
              </ul>
            </li>

          </ul>
        </div>
