<div ng-controller="storeCatController" class="margin-top-10" id="orderOverview" data-ng-init="init()">
  <div class="row">
    <div class="col-md-offset-9" style="margin-left: 3%; margin-right: 3%;">

      <div class="page-title">
        <div>
          <div role="tabpanel">
            <table class="table table-bordered table-striped">
              <thead>
                <tr>
                  <td>#</td>
                  <td>
                    <a href="#" ng-click="sortType = 'cname';
                                                                        sortReverse = !sortReverse">
                                                Category Name
                                                <span ng-show="sortType == 'cname' && !sortReverse" class="fa fa-caret-down"></span>
                                                <span ng-show="sortType == 'cname' && sortReverse" class="fa fa-caret-up"></span>
                                            </a>
                  </td>
                  <td>
                    <a href="#" ng-click="sortType = 'cID';
                                                                        sortReverse = !sortReverse">
                                                Category ID
                                                <span ng-show="sortType == 'cID' && !sortReverse" class="fa fa-caret-down"></span>
                                                <span ng-show="sortType == 'cID' && sortReverse" class="fa fa-caret-up"></span>
                                            </a>
                  </td>

                  <!-- <td>Edit</td> -->
                </tr>
              </thead>
              <tbody>
                <tr ng-repeat="store in storeCategory| orderBy:sortType:sortReverse">
                  <td>{{$index+1}}
                    <td>
                      {{store.name}}
                    </td>
                    <td>{{store.id}}</td>
                </tr>
              </tbody>
            </table>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
</div>
