<div ng-controller="DashboardController" class="margin-top-10" data-ng-init="init()">
    <div class="row">
        <div class="col-md-offset-9" style="margin-left: 3%; margin-right: 3%;">

            <div class="page-title">
                <h1>
                    <small>Welcome Back Admin !</small>
                </h1>

                <div>
                    <div class="row">


                      <div class="col-lg-2 col-md-2 col-sm-6 col-xs-12">
                          <div class="dashboard-stat green-haze">
                              <div class="visual">
                                  <i class="fa fa-shopping-cart"></i>
                              </div>
                              <div class="details">
                                  <div class="number">
                                    {{storeCategory.length}}
                                  </div>
                                  <div class="desc">
                                      Total Categories
                                  </div>
                              </div>

                          </div>
                      </div>

                        <div class="col-lg-2 col-md-2 col-sm-6 col-xs-12">
                            <div class="dashboard-stat blue-madison">
                                <div class="visual">
                                    <i class="fa fa-database"></i>
                                </div>
                                <div class="details">
                                    <div class="number">
                                        {{allStores.length}}
                                    </div>
                                    <div class="desc">
                                        Total Stores
                                    </div>
                                </div>

                            </div>
                        </div>
                        <div class="col-lg-2 col-md-2 col-sm-6 col-xs-12">
                            <div class="dashboard-stat red-intense">
                                <div class="visual">
                                    <i class="fa fa-shopping-basket"></i>
                                </div>
                                <div class="details">
                                    <div class="number">
                                        {{allProducts.length}}
                                    </div>
                                    <div class="desc">
                                        Total Products
                                    </div>
                                </div>

                            </div>
                        </div>

                        <div class="col-lg-2 col-md-2 col-sm-6 col-xs-12">
                            <div class="dashboard-stat purple-plum">
                                <div class="visual">
                                    <i class="fa fa-barcode"></i>
                                </div>
                                <div class="details">
                                    <div class="number">
                                        0
                                    </div>
                                    <div class="desc">
                                        Total Transactions
                                    </div>
                                </div>

                            </div>
                        </div>
                        <div class="col-lg-2 col-md-2 col-sm-6 col-xs-12">
                            <div class="dashboard-stat blue-madison">
                                <div class="visual">
                                    <i class="fa fa-line-chart"></i>
                                </div>
                                <div class="details">
                                    <div class="number">
                                        0
                                    </div>
                                    <div class="desc">
                                        Total Predictions
                                    </div>
                                </div>

                            </div>
                        </div>
                        <div class="col-lg-2 col-md-2 col-sm-6 col-xs-12">
                            <div class="dashboard-stat red-intense">
                                <div class="visual">
                                    <i class="fa fa-area-chart"></i>
                                </div>
                                <div class="details">
                                    <div class="number">
                                        0
                                    </div>
                                    <div class="desc">
                                        Total Analysis
                                    </div>
                                </div>

                            </div>
                        </div>
                    </div>

                    <div class="page-title">
                      <div>
                        <div role="tabpanel">
                          <table class="table table-bordered table-striped">
                            <thead>
                              <tr>
                                <td>#</td>
                                <td>
                                  <a href="#" ng-click="sortType = 'cname';
                                                                                      sortReverse = !sortReverse">
                                                              Category Name
                                                              <span ng-show="sortType == 'cname' && !sortReverse" class="fa fa-caret-down"></span>
                                                              <span ng-show="sortType == 'cname' && sortReverse" class="fa fa-caret-up"></span>
                                                          </a>
                                </td>
                                <td>
                                  <a href="#" ng-click="sortType = 'cID';
                                                                                      sortReverse = !sortReverse">
                                                              Category ID
                                                              <span ng-show="sortType == 'cID' && !sortReverse" class="fa fa-caret-down"></span>
                                                              <span ng-show="sortType == 'cID' && sortReverse" class="fa fa-caret-up"></span>
                                                          </a>
                                </td>

                                <!-- <td>Edit</td> -->
                              </tr>
                            </thead>
                            <tbody>
                              <tr ng-repeat="store in storeCategory| orderBy:sortType:sortReverse">
                                <td>{{$index+1}}
                                  <td>
                                    {{store.name}}
                                  </td>
                                  <td>{{store.id}}</td>
                              </tr>
                            </tbody>
                          </table>
                        </div>
                      </div>
                    </div>
                </div>

            </div>


          </div>
  </div>
</div>
